          <!-- top tiles -->
          <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Alunos inscritos</span>
              <div class="count"><%=@userscount%></div>
              
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-plus"></i> Número de aulas</span>
              <div class="count"><%=@userscount%></div>
              
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-pencil"></i> Número de professores</span>
              <div class="count"><%= @teacherscount %></div>
             
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-file"></i> Número de conteúdos</span>
              <div class="count"><%=@contentcount%></div>
              
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-book"></i> Número de matérias</span>
              <div class="count"><%=@categorycount%></div>
              
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-book"></i> Número de submatérias</span>
              <div class="count"><%=@subcategorycount%></div>
              
            </div>
          </div>
          <!-- /top tiles -->
        

            
                    
                