<div class="col-md-12 col-sm-12 col-xs-12">
   <div class="x_panel">
    <div class="x_title">
         <h2>Gerenciamento de Conteúdo</h2>
         <div class="clearfix"></div>
      </div>
      <div class="x_content">
         <%= will_paginate @contents %>
         <table id="mytable", class="table table-striped table-bordered">
            <div class="title_right">
                <div class=" form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" id="myInput" onkeyup="searchContents(this.value);" class="form-control" placeholder="Nome ou Subcategoria">
                  </div>
                </div>
              </div>
            </div>
            <thead>
               <tr>
                  <th>Nome</th>
                  <th>Sub Categoria</th>
                  <th>Arquivo</th>
                  <th>Criado em</th>
                  <th> Settings </th>
               </tr>
            </thead>
            <tbody id="contents_search">
               <% @contents.each do |contents| %>
               <tr>
                  <td><%= contents.title%></td>
                  <td><%= contents.subcategory.name %></td>
                  <td><a href="javascript:void(0)" onclick="popup('<%= contents.file %>','<%= contents.title%>')">Abrir Arquivo</a></td>
                  <td><%= contents.created_at.strftime("%d/%m/%Y %H:%M:%S")%></td>
                  <td colspan="3"><%= link_to  edit_content_path(contents) do %>
                     <span class="glyphicon glyphicon-wrench" aria-hidden="true" style="margin-left: 5px"></span>
                     <% end %> <i style="margin-left:3px"></i>
                     <%= link_to contents, method: :delete, data: { confirm: 'Are you sure?' } do %>
                     <span class="glyphicon glyphicon-remove" aria-hidden="true" style="margin-left: 20px"></span>
                     <% end %>      
                  </td>
               </tr>
               <%end%>
               <!--<td colspan="7" id="error" hidden="" >Nenhum cadastro encontrado</td>-->
            </tbody>
         </table>
      </div>
   </div>
   <%= link_to 'Nova Conteúdo', new_content_path,  class:"btn btn-success" %>
</div>
<%= will_paginate @contents %>
