<div class="col-md-12 col-sm-12 col-xs-12">
   <div class="x_panel">
      <div class="x_title">
         <h2>Gerenciamento de Aulas</h2>
         <div class="clearfix"></div>
      </div>
      <div class="x_content">
         <%= will_paginate @lessons%>
         <table id="mytable", class="table table-striped table-bordered">
             <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input class="form-control" id="inputSuccess5" onkeyup="searchlesson(this.value);" class="form-control" placeholder="Procurar">
                  </div>
                </div>
              </div>
            <thead>
               <tr>
                  <!--<th>Matéria</th>-->
                  <th>Assunto</th>
                  <th>Professor</th>
                  <th>Data</th>
                  <th>Horário início-término</th>
                  <th>Limite de alunos</th>
                  <th>Criado em</th>
                  <th>Configurações</th>
               </tr>
            </thead>
            <tbody id="tablerowlessons">
               <% @lessons.each do |lessons| %>
               <tr>
                  <!--<td><%= lessons.subcategory.category.name%></td>--> 
                  <td><%= lessons.subcategory.name%></td>
                  <td><%= lessons.teacher.name%></td>
                  <td><%= lessons.date.strftime("%d/%m/%Y") %></td>
                  <td><%= lessons.lesson_hour_start.strftime("%H:%M") %>-
                  <%=lessons.lesson_hour_end.strftime("%H:%M") %></td>
                  <td><%= lessons.limit%></td>
                  <td><%= lessons.created_at.strftime("%d/%m/%Y %H:%M:%S")%></td>
                  <td colspan="3"><%= link_to  edit_lesson_path(lessons) do %>
                     <span class="glyphicon glyphicon-wrench" aria-hidden="true" style="margin-left: 5px"></span>
                     <% end %> <i style="margin-left:3px"></i>
                     <%= link_to lessons, method: :delete, data: { confirm: 'Are you sure?' } do %>
                     <span class="glyphicon glyphicon-remove" aria-hidden="true" style="margin-left: 20px"></span>
                     <% end %>      
                  </td>
               </tr>
               <%end%>
               <!--<td colspan="7" id="error" hidden="" >Nenhum cadastro encontrado</td>-->
            </tbody>
         </table>
      </div>
   </div>
   <%= link_to 'Nova Aula', new_lesson_path,  class:"btn btn-success" %>
</div>
<%= will_paginate @lessons %>