<div class="col-md-12 col-sm-12 col-xs-12">
   <div class="x_panel">
      <div class="x_title">
      <div class="page-title">
         <div class="title_left">
         <h2>Gerenciamento de Aulas<small> aulas e alunos inscritos</small></h2>
         </div>
         <div class="title_right">
         <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
            
            <div id="reportrange" style="background: #fff; margin-bottom:2px; cursor:pointer; padding:6px 12px;border: 1px solid #ccc">
               <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
               <span></span> <b class="caret"></b>
            </div>
            <div class="col-md-3 pull-right">
       </div>
         </div>
         </div>
      </div>
      </div>
      </div>
         <div class="clearfix"></div>

      <div class="container-fluid" style="overflow-x: auto; overflow-x: scroll;">
         <%= will_paginate @lessons%>
         <%= link_to 'Nova Aula', new_lesson_path,  class:"btn btn-primary" %>

         <table id="mytable", class="table">
            <thead>
               <tr>
                  <!--<th>Matéria</th>-->
                  <th>Título</th>
                  <th>Matéria</th>
                  <th>Professor</th>
                  <th>Horário início-término</th>
                  <th>Limite de alunos</th>
                  <th>Inscritos</th>
                  <th>Criado em</th>
                  <th>Configurações</th>
               </tr>
            </thead>
            <tbody id="tablerowlessons">
               <% @lessons.each do |lessons| %>
               
               <tr class="hovertolink">
                  <td><%= lessons.title%></td>  
                  <td><%= lessons.category.name%></td>
                  <td><%= lessons.teacher.name%></td>
                  <td><%= lessons.lesson_hour_start.strftime("%d/%m/%Y %H:%M") %> até
                     <%=lessons.lesson_hour_end.strftime("%d/%m/%Y %H:%M") %>
                  </td>
                  <td><%= lessons.limit%></td>
                  <td><%= lessons.subscribers %></td>
                  <td><%= lessons.created_at.strftime("%d/%m/%Y %H:%M:%S")%></td>
                  <td colspan="3"><%= link_to show_presences_path(lessons.id) do %>
                     <span class="fa fa-eye" aria-hidden="true" style="margin-left: 20px"></span>
                     <% end %><i style="margin-left:3px"></i>
                  
                    <%= link_to  edit_lesson_path(lessons) do %>
                     <span class="glyphicon glyphicon-wrench" aria-hidden="true" style="margin-left: 5px"></span>
                     <% end %> <i style="margin-left:3px"></i>
            
                     <%= link_to lessons, method: :delete, data: { confirm: 'Are you sure?' } do %>
                     <span class="glyphicon glyphicon-remove" aria-hidden="true" style="margin-left: 20px"></span>
                     <% end %>    
                      
                  </td>
                  
               </tr>
               <%end%>
               <!--<td colspan="7" id="error" hidden="" >Nenhum cadastro encontrado</td>-->
            </tbody>
         </table>
      </div>
   </div>
</div>
<%= will_paginate @lessons %>