<div class="clearfix"></div>
<div class="row">
   <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
         <div class="x_content">
            <br />
            <%= form_for @sub_categories, :html => { class: "form-horizontal form-label-left", id:"demo-form2"  } do |f| %>
            <div class="form-group">
               <%= f.label :name, class:"control-label col-md-3 col-sm-3 col-xs-12" %><span class="required">*</span><br />
               <div class="col-md-6 col-sm-6 col-xs-12">
                  <%= f.text_field :name, class:"form-control col-md-7 col-xs-12", type:"text"%>
               </div>
               <div class="form-group">
                  <div class="field">
                     <%= f.label :category_id %>
                     <%= f.select :category_id, Category.all.collect { |c| [ c.name, c.id ] }, include_blank: true%>
                  </div>
               </div>
               <%= f.submit "Cadastrar", type:"submit", class:"btn btn-success" %>
               <%= link_to "Voltar", sub_categories_path, class:"btn btn-success" %>
               <% end %>
            </div>
         </div>
      </div>
   </div>
</div>