<div class="col-md-12 col-sm-12 col-xs-12">
   <div class="x_panel">
      <div class="x_title">
      <div class="page-title">
         <div class="title_left">
         <h2>Gerenciamento de Matérias</h2>
         </div>
         <div class="title_right">
         <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" id="inputSuccess5" onkeyup="searchCategory(this.value);" class="form-control" placeholder="Procurar por nome">
            </div>
         </div>
      </div>
      </div>
      </div>
         <div class="clearfix"></div>
      <div class="container-fluid" style="overflow-x: auto; overflow-x: scroll;">
      <%= will_paginate @categories %>
      <%= link_to 'Nova categoria', new_category_path,  class:"btn btn-primary" %>
         <table id="mytable", class="table table-striped table-bordered">
            <thead>
               <tr>
                  <th>Nome</th>
                  <th>Criado em</th>
                  <th>Configurações</th>
               </tr>
            </thead>
            <tbody id="tablerowcategory">
               <% @categories.each do |categories| %>
               <tr id=""> 
                  <td><%= categories.name%></td>
                  <td><%= categories.created_at.strftime("%d/%m/%Y %H:%M:%S")%></td>
                  <td colspan="3"><%= link_to  edit_category_path(categories) do %>
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true" style="margin-left: 5px"></span>
                  <% end %> <i style="margin-left:3px"></i>
                  <%= link_to categories, method: :delete, data: { confirm: 'Você tem certeza?' } do %>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true" style="margin-left: 20px"></span>
                  <% end %>      
                  </td>
               </tr>
               <%end%>
               <!--<td colspan="7" id="error" hidden="" >Nenhum cadastro encontrado</td>-->
            </tbody>
         </table>
         </div>
      </div>
   </div>
   

<%= will_paginate @categories %>
